USE [master]
GO
/****** Object:  Database [QuanLiSinhVien]    Script Date: 11/18/2025 6:29:35 AM ******/
CREATE DATABASE [QuanLiSinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiSinhVien', FILENAME = N'D:\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLiSinhVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLiSinhVien_log', FILENAME = N'D:\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLiSinhVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiSinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiSinhVien]
GO
/****** Object:  Table [dbo].[DangKyHoc]    Script Date: 11/18/2025 6:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyHoc](
	[MaSV] [char](10) NOT NULL,
	[MaLHP] [int] NOT NULL,
	[DiemTongKet] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 11/18/2025 6:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [char](10) NOT NULL,
	[HoTenGV] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[DienThoai] [varchar](15) NULL,
	[MaKhoa] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 11/18/2025 6:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[MaKhoa] [char](10) NOT NULL,
	[TenKhoa] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichHoc]    Script Date: 11/18/2025 6:29:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHoc](
	[MaLich] [int] IDENTITY(1,1) NOT NULL,
	[MaLHP] [int] NOT NULL,
	[Thu] [int] NOT NULL,
	[TietBatDau] [int] NOT NULL,
	[SoTiet] [int] NOT NULL,
	[PhongHoc] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 11/18/2025 6:29:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [char](10) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
	[MaKhoa] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 11/18/2025 6:29:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MaLHP] [int] IDENTITY(1,1) NOT NULL,
	[TenLHP] [nvarchar](100) NULL,
	[MaMH] [char](10) NOT NULL,
	[MaGV] [char](10) NOT NULL,
	[HocKy] [int] NULL,
	[NamHoc] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 11/18/2025 6:29:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [char](10) NOT NULL,
	[TenMH] [nvarchar](100) NOT NULL,
	[SoTinChi] [int] NOT NULL,
	[MaKhoa] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 11/18/2025 6:29:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [char](10) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 11/18/2025 6:29:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [char](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[Email] [varchar](100) NOT NULL,
	[MaLop] [char](10) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/18/2025 6:29:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](256) NOT NULL,
	[MaQuyen] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GiangVien] ([MaGV], [HoTenGV], [Email], [DienThoai], [MaKhoa]) VALUES (N'GV001     ', N'Trần Văn Dũng', N'gv.dung@edu.vn', N'0909111222', N'CNTT      ')
INSERT [dbo].[GiangVien] ([MaGV], [HoTenGV], [Email], [DienThoai], [MaKhoa]) VALUES (N'GV002     ', N'Nguyễn Thị Lan', N'gv.lan@edu.vn', N'0909333444', N'KT        ')
INSERT [dbo].[GiangVien] ([MaGV], [HoTenGV], [Email], [DienThoai], [MaKhoa]) VALUES (N'GV003     ', N'Hoàng Minh Tú', N'gv.tu@edu.vn', N'0911222333', N'CNTT      ')
GO
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'CNTT      ', N'Công nghệ Thông tin')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'KT        ', N'Kinh tế')
INSERT [dbo].[Khoa] ([MaKhoa], [TenKhoa]) VALUES (N'QTKD      ', N'Quản trị Kinh doanh')
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'DH20KT    ', N'Đại học Kinh tế 2020', N'KT        ')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'DH20TH    ', N'Đại học Tin học 2020', N'CNTT      ')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoa]) VALUES (N'DH21KT    ', N'Đại học Kinh tế 2021', N'KT        ')
GO
SET IDENTITY_INSERT [dbo].[LopHocPhan] ON 

INSERT [dbo].[LopHocPhan] ([MaLHP], [TenLHP], [MaMH], [MaGV], [HocKy], [NamHoc]) VALUES (9, N'LHP CSDL 01', N'CSDL      ', N'GV001     ', 1, N'2025-2026')
INSERT [dbo].[LopHocPhan] ([MaLHP], [TenLHP], [MaMH], [MaGV], [HocKy], [NamHoc]) VALUES (10, N'LHP CSDL 02', N'CSDL      ', N'GV003     ', 1, N'2025-2026')
INSERT [dbo].[LopHocPhan] ([MaLHP], [TenLHP], [MaMH], [MaGV], [HocKy], [NamHoc]) VALUES (11, N'LHP LTHDT 01', N'LTHDT     ', N'GV003     ', 1, N'2025-2026')
SET IDENTITY_INSERT [dbo].[LopHocPhan] OFF
GO
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [MaKhoa]) VALUES (N'CSDL      ', N'Cơ sở dữ liệu', 3, N'CNTT      ')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [MaKhoa]) VALUES (N'KTTC      ', N'Kế toán tài chính', 3, N'KT        ')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [SoTinChi], [MaKhoa]) VALUES (N'KTVM      ', N'Kinh tế vĩ mô', 2, N'KT        ')
GO
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'Admin     ', N'Quản trị viên')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (N'SV        ', N'Sinh viên')
GO
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [Email], [MaLop], [TenDangNhap]) VALUES (N'200120010 ', N'Sinh viên 10', CAST(N'2001-10-27' AS Date), N'Nữ', N'Địa chỉ 10', N'sv10@sv.edu.vn', N'DH21TH    ', N'200120010')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [Email], [MaLop], [TenDangNhap]) VALUES (N'200120011 ', N'Sinh viên 11', CAST(N'2001-09-17' AS Date), N'Nam', N'Địa chỉ 11', N'sv11@sv.edu.vn', N'DH21TH    ', N'200120011')
INSERT [dbo].[SinhVien] ([MaSV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [Email], [MaLop], [TenDangNhap]) VALUES (N'200120012 ', N'Sinh viên 12', CAST(N'2001-08-08' AS Date), N'Nữ', N'Địa chỉ 12', N'sv12@sv.edu.vn', N'DH21TH    ', N'200120012')
GO
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaQuyen]) VALUES (N'200120010', N'123', N'SV        ')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaQuyen]) VALUES (N'200120011', N'123', N'SV        ')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaQuyen]) VALUES (N'200120012', N'123', N'SV        ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GiangVie__A9D10534513E858A]    Script Date: 11/18/2025 6:29:36 AM ******/
ALTER TABLE [dbo].[GiangVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SinhVien__55F68FC002E29E80]    Script Date: 11/18/2025 6:29:36 AM ******/
ALTER TABLE [dbo].[SinhVien] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SinhVien__A9D1053418E37291]    Script Date: 11/18/2025 6:29:36 AM ******/
ALTER TABLE [dbo].[SinhVien] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[LichHoc]  WITH CHECK ADD FOREIGN KEY([MaLHP])
REFERENCES [dbo].[LopHocPhan] ([MaLHP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[TaiKhoan] ([TenDangNhap])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[DangKyHoc]  WITH CHECK ADD CHECK  (([DiemTongKet]>=(0) AND [DiemTongKet]<=(10)))
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD CHECK  (([HocKy]=(3) OR [HocKy]=(2) OR [HocKy]=(1)))
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD CHECK  (([NamHoc] like '[1-9][0-9][0-9][0-9]-[1-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD CHECK  (([SoTinChi]>(0)))
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nam' OR [GioiTinh]=N'Nữ'))
GO
USE [master]
GO
